#timer-container {    
    display: inline-block;
    background-color: #e8eaed;
    margin: 10px;
    padding: 4px;
    border: 1.5px solid orangered;
    width: 20%;
    height: 35px;
    display: flex;
    align-items: center;
}
#image-clock-div {
    overflow:hidden;
    width: 20%;
    height: 100%;
    float: left;
}
#clock-image {
    width: auto;
    height: 100%;
    padding: 0;
}
#countdown-digits-container{   
    height: 100%;
    float: right;
    margin: 0;
    display: flex;
    align-items: center;
}
label.countdown-timer-digits {
    margin: 2px;
    color: black;
    font-weight: bolder;
}