<div id="timer-container">
    <div id="image-clock-div">
        <img id="clock-image" src="/assets/images/clock.png" alt="CLOCK" >
    </div>
    
    <div id="countdown-digits-container">
        <label class="countdown-timer-digits">{{ timerDays }}</label>: 
        <label class="countdown-timer-digits">{{ timerHours }} </label>:  
        <label class="countdown-timer-digits">{{ timerMinutes }}</label>:
        <label class="countdown-timer-digits"> {{ timerSeconds }}</label>     
    </div>
</div>